{{#extend "stylesheets"}}
  <link rel="stylesheet" href="/css/default.css">
{{/extend}}

<h1>First!</h1>

<img src="/img/ball-and-line.svg" alt="a moving ball" class="test">
<img src="/img/ball-and-line-2.svg" alt="a moving ball" class="test">