<code>Tests</code>
<ul>
  <li>
    <a href="/first">First Test</a>
  </li>
  <li>
    <a href="/second">Second Test</a>
  </li>
</ul>

<code>references</code>
<ul>
  <li>
    <a href="https://css-tricks.com/guide-svg-animations-smil/">https://css-tricks.com/guide-svg-animations-smil/</a>
  </li>
  <li>
    <a href="http://slides.com/sarasoueidan/animating-svg-with-css-and-smil-full-version#/">http://slides.com/sarasoueidan/animating-svg-with-css-and-smil-full-version#/</a>
  </li>
</ul>
