{{#extend "stylesheets"}}
  <link rel="stylesheet" href="/css/default.css">
{{/extend}}

<h1>Second!</h1>

<!-- <img src="/img/green-ball.svg" alt="a green ball" class="test"> -->

<object type="image/svg+xml" data="/img/green-ball.svg">
  <img src="fallback.gif" />
</object>